body {
    width: 1440px;
    height: 1009px;
    border-style: solid;
    margin-bottom: 0px;
} 

#front{
    text-align: center;
    font-size: 300%;
    
}

#header{
    display: grid;
    grid-template-columns:  1fr .5fr 1fr .5fr 1fr;
    width: 90%;
    margin: auto;
}

#deckName{
    grid-column: 3 / 1 span;
    font-size: xx-large;
}

#deckSelect{
    grid-column: 5 / 1 span;
}



#deckScore{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr .5fr 1fr;
    font-size: larger;
    font-weight: 800;
}

#gotItScore{
    grid-column: 1 / 1 span;
}

#frontSelect{
    grid-column: 3 / 1 span;
}

#deckCount{
    grid-column: 5 / 1 span;
}

#tryAgainScore{
    grid-column: 1 / 1 span;
    grid-row: 3 / 1 span;
}

#backSelect{
    grid-column: 3 / 1 span;
    grid-row: 3 / 1 span;
}



#divCard{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;
    height: 30%;
    width: 80%;
    background-color: rgb(167, 167, 167);
    border: 3px solid rgb(22, 35, 216);
    margin: auto;
}

#flashCard{
    font-size: xx-large;
    
}


.button{
    
    font-weight: 800;
    font-size: x-large;
    text-align: center;
    background-color: rgb(61, 113, 197);
    border: none;
    border-radius: 20px;
}

#deckButton{
    display: grid;
     grid-template-columns:  .5fr .5fr .5fr .5fr .5fr .5fr .5fr;
     width: 80%;
     margin: auto;
     
}

#gotItButton{
    grid-column: 1 / 1 span;
}

#previousCard{
    grid-column: 5 / 1 span;
}

#flipCard{
    grid-column: 3 / 3 span;
}

#nextCard{
    grid-column: 7 / 1 span;
}

#toggleButton{
    display: grid;
    grid-template-columns:  1fr .2fr 1fr .2fr;
    margin-right: 50px;
    float:right;
    width: 80%;
}

#reset{
  grid-column: 3 / 1 span;
}

#addCard{
 grid-column: 1 / 1 span;
}

hr {
  background-color: #333; 
}
    