body {
    width: 1440px;
    height: 1009px;
    border-style: solid;
    margin-bottom: 0px;
} 


.center {
    text-align: center;
}

#deckButton{
    width: 95%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    

}


#deckTable{
    width: 80%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    

}
 #deckCard, td{
    text-align: left;
    background-color: rgb(167, 167, 167);
    border: 3px solid rgb(22, 35, 216);
 }

 #toggleButton{
     display: grid;
     grid-template-columns: 100px;
     grid-template-columns:  1fr 2fr;
 }

 hr{
     height: 10px;
 }

    #addCard,#reset{
        text-align: center;
        background-color: rgb(61, 113, 197);
        border: none;
        border-radius: 20px;
    }

   